body {
	overflow-y: hidden;
}

#menu01 {
	position: fixed;
	top: 0px;
	margin: 0px auto;
	width: 100%;
	z-index: 1;
	background-color: white;
}

#discografia {
	display: block;
	position: relative;
	width: 100%;
	height: 100vh;
	margin: 40px auto;
	padding: 0px;
	background-color: black;
}

#discoGallery {
	position: absolute;
	top: 40px;
	right: 0px;
	left: 0px;
	margin: 0px auto;

	height: 80vh;
}

#material {
	display: block;
	position: relative;
	width: 100%;
	height: 100vh;
	margin: 40px auto;
	padding: 0px;
	background-color: gray;
}

#links {
	display: block;
	position: relative;
	width: 100%;
	height: 100vh;
	margin: 40px auto;

	padding: 0px;
	padding-top: 40px;
	background-color: green;
}

#logo01 {
	display: block;
	position: relative;
	width: 100%;
	height: 100vh;
	margin: 40px auto;
	padding: 0px;
}

#menu01 nav {
	height: 30px;
	border-bottom: 10px solid blue;
}

#menu01 nav a {
	display: inline-block;
	margin: 0px auto;
	height: 30px;
	text-align: center;
	vertical-align: middle;
}

h1 {
	text-align: center;
}

footer {
	text-align: center;
}

.logoMain {
	display: block;
/*	position: relative;
	left: auto;
	right: auto;*/
	margin: 0px auto;
	padding: 0px;
	max-width: 500px;
}

.tapaDisc {
	position: relative;
	max-height: 400px;
}

.videos {
	position: relative;
	display: inline-block;
	margin: 40px auto;
	max-height: 400px;
}

.temon {
	width: 50%;
	position: relative;
	margin: 10px auto 10px auto;
}